/* 存放公共样式 */
/* 在main.js中引入 */
*{margin: 0;padding: 0;}
li{list-style: none;}
.fl{float: left;}
.fr{float: right;}
.clear{clear:both;}
.mt{margin-top: 10px;}
.mb{margin-bottom: 20px;}
.ct{text-align: center;}
.mr{margin-right: 10px;}
.ml{margin-left: 10px;}